*.Rmd linguist-language=R
*.R linguist-language=R
*.html linguist-documentation
*.tex linguist-documentation
*.TeX linguist-documentation
latex linguist-documentation
*.pdf linguist-documentation
*.css linguist-documentation
*.js linguist-documentation